<p id="notice"><%= notice %></p>

<h1 class="titleofpost">Blog Web Application</h1>

<table>
  <thead>
    <tr>
      <th>Blog Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td class="boday"><%= post.body %></td>
        <td><%= link_to 'View', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Post', new_post_path %>
